body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
}

.hide {
    display: none;
}


.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #00000085;
}


#settings {
    position: absolute;
    background: white;
    border-radius: 5px;
    width: 30%;
    color: black;
    padding: 20px;
    margin-right: a;
    left: 32%;
}

#years {
    width: 18%;
}

#months {
    width: 5%;
}

#days {
    width: 15%;
}

.year,.month, .day {
    width: 15px;
    height: 15px;
    background-color: rgb(114, 112, 112);
    margin: 5px;
    float: left;
}

.active {
    background-color: rgb(219, 88, 0);
}